body{
	background-color: #2fbbd4;
}
#moin{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 700px;
	width:700

	
}
#hi{
 margin-bottom: 10px;	

margin-left: 38%;
margin-bottom: 30%;	
	
}	
#junge{
color:red;	
	
}
#level{
	color: red;
	font-size: 30px;
	position:absolute;
	top:5%;
	left: 70%;
	
}
#morgen{
	position: absolute;
	top: -8%;
	color: blue;
	font-size: 30px;
	
	
}
