body{
	background-color: #2fbbd4;
	font-size: 30px;
}
#moin{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 700px;
	width:700


}
#hi{
	margin-bottom: 30%;
	text-align: center;
}
#junge{
	color:red;
}

#level{
	color: red;
}
#morgen{
	color: blue;
}
